/* source keypos definitions */
#include "../zmk-nodefree-config/keypos_def/keypos_42keys.h"

/* map Zen's extra keys */

#define MEH(k)  LC(LS(LA(k)))
#define HYP MEH(LG)
#define X_LT XXX
#define X_LM XXX
#define X_LB XXX
#define X_RT XXX
#define X_RM XXX
#define X_RB XXX

/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "sh_base.keymap"

/* use 5-column layout for Zen */
/* / { chosen { zmk,matrix_transform = &five_column_transform; }; }; */
