#define SH_SHORT_TAP 150

ZMK_BEHAVIOR(sh_llt, hold_tap,
  flavor = "balanced";
  tapping-term-ms = <SH_SHORT_TAP>;
  quick-tap-ms = <QUICK_TAP_MS>;
  global-quick-tap-ms = <GLOBAL_QUICK_TAP_MS>; \
  bindings = <&mo>, <&kp>;
  retro-tap;
  /* hold-trigger-key-positions = <KEYS_R THUMBS>; */
)

ZMK_BEHAVIOR(sh_rlt, hold_tap,
  flavor = "balanced";
  tapping-term-ms = <SH_SHORT_TAP>;
  quick-tap-ms = <QUICK_TAP_MS>;
  global-quick-tap-ms = <GLOBAL_QUICK_TAP_MS>; \
  global-quick-tap;
  bindings = <&mo>, <&kp>;
  retro-tap;
  /* hold-trigger-key-positions = <KEYS_L THUMBS>; */
)
/*
 * Shifted Backspace deletes + Layer Tap
 *
 * Usage: &shmm_bspc_del_layer
 * Tap: Backspace
 * Shift-Tap: Delete
 * Hold: Switch layer
*/
ZMK_BEHAVIOR(sh_bspc_del_num, mod_morph,
  mods = <(MOD_LSFT|MOD_RSFT)>;
  bindings = <&lt NUM BSPC>, <&kp DEL>;
  keep-mods = <(MOD_LGUI|MOD_LCTL|MOD_LALT|MOD_RGUI|MOD_LCTL|MOD_LALT)>;
)
